#map {
    height: 100vh;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background: #e8f5e9;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1000;
}

#sidebar form {
    margin-bottom: 10px;
}

#sidebar button {
    display: block;
    margin-bottom: 10px;
}

.leaflet-marker-icon {
    background: none !important;
    border: none !important;
}

/* Ensure the custom icon is used */
.leaflet-marker-icon img {
    display: block;
}
